:root {
  --clr-title-background: #089b93;
  --clr-container-clr: #9fdeff;
  --clr-body-clr: #ebe7e7;
  --clr-side-background2: rgb(28, 138, 138);
  --clr-side-background3: rgb(75, 77, 77);
  --clr-text-clr: #fff;
  --ink: #333;
  --px-prov-f02: "106b";
}